/* html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
} */
.box{
	box-sizing: border-box;
	width: 100px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	font-size: 16px;
	border: 1px solid lightblue;
	background-color: #ADD8E6;
	/* position: absolute; */
}
body{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 500px;
	height: 500px;
}

.box{
	display: inline-block;
}
/* 弹性布局 */
/* 里面的内容沿着主轴（x轴）居中 */
/* 交叉轴（y轴) */

/* body{
	position: relative;
	display: flex;	
	justify-content: center;	
	align-items: center;	
} */

/* .box{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -50px;
} */
/* .box{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
} */
/* .box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
} */
