html,body{
	width: 100%;
	overflow: hidden;
}

.container{
	display: flex;
	justify-content: space-between;
	height: 100%;
}
/* flex:放大 缩小 尺寸; */
.left,
.right{
	flex: 0 0 200px;
	height: 200px;
	background: lightblue;
}
/* flex: 1把剩下的空间全占了 */
.center{
	flex: 1;
	min-height: 400px;
	background:lightcoral;
}