html,body{
	height: 100%;
	overflow: hidden;
}
.container{
	height: 100%;
	padding: 0 200px;
}
.left,
.right{
	width: 200px;
	min-height: 200px;
	background: lightblue;
}

.center{
	width: 100%;
	min-height: 400px;
	background: lightcoral;
}

.left,
.center,
.right{
	float: left;
}

.left{
	margin-left: -100%;
	position: relative;
	left: -200px;
}
.right{
	margin-right: -200px;
}